# Environment Variables
.env
*.env

# Virtual Environment
.venv/
venv/



# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.Python
.python-version



# Project Specific - Logs
backend/logs
logs/
*.log
*.log.*


# database files
*.db
*.sqlite3


# Generated Documentation
db.md




